<div class="teil" data-id="{{id}}">
    <div>{{header}}</div>    
    <a href="{{urlContent}}">
        <div class="teil-image-container">
            <img class="teil-image" src="{{urlImage}}" />
        </div>
    </a>
    <div>
        <h5>{{title}}</h5>
    </div>
    <span>Published: {{published}}, Author: <a href="{{urlAuthor}}">{{author}}</a></span>
</div>